{% load static i18n %}
<div class="header">
    <a class="logo" href="{% url 'mainapp:index_view' %}"></a>
    <ul class="menu">
        {% for object in main_menu %}
        <li>
            <a href="{{object.get_url}}" {% if active == object.title %}class="active-menu" {% endif %}>{{object.title}}</a>
        </li>
        {% endfor %}

        {% if user.is_authenticated %}
        <li>
            <a href="{% url 'accounts:logout' %}">{% trans 'Logout' %}</a>
        </li>
        {% else %}
        <li>
            <a href="{% url 'accounts:login' %}">{% trans 'Login' %}</a>
        </li>
        {% endif %}
        <li><a href="{% url 'mainapp:products' %}"><img src="{% static 'img/search.svg' %}" alt="search"></a></li>
        <li>{% if user.is_authenticated %}<a href="#"><img src="{% static 'img/basket.png' %}" alt="basket"></a>{% endif %}</li>
    </ul>
</div>