<footer class="footer padding-site">
            <div class="contact-us-block footer-text-block">
                <h3 class="footer-h3">Contact Us</h3>
                <p class="address footer-text-p">
                    132A Bridge Road Richmond VIC&nbsp;Australia.
                </p>
                <p class="contacts footer-text-p">
                    Talk to&nbsp;us on&nbsp;1300&nbsp;132 info@interior.com
                </p>
            </div>
            <div class="useful-info-block footer-text-block">
                <h3 class="footer-h3">
                    Useful Information
                </h3>
                <div class="useful-block-ul">
                    <ul class="useful-block useful-block-1">
                        <li><a href="#">Sales terms</a></li>
                        <li><a href="#">Customer care</a></li>
                        <li><a href="#">Delivery</a></li>
                    </ul>
                    <ul class="useful-block">
                        <li><a href="#">Architect accounts</a></li>
                        <li><a href="#">Careers</a></li>
                        <li><a href="#">Exchanges &amp;&nbsp;returns</a></li>
                    </ul>
                </div>

            </div>
            <div class="subscibe-block footer-text-block">
                <h3 class="footer-h3">
                    Let&rsquo;s Stay in&nbsp;Touch!
                </h3>
                <p class="subscribe footer-text-p">
                    Suscribe to&nbsp;know about our latest news, products and special offers just for suscribers.
                </p>
                <form class="subscibe-form" action="#">
                    <input type="email" placeholder="your email address">
                    <button class="subscibe-button"><i class="fab fa-telegram-plane telegram-button"></i></button>
                </form>
            </div>
            <div class="copyright footer-bottom-text">
                &copy;&nbsp;Copyright&nbsp;&mdash; INTERIOR 2018. All Rights Reserved.
            </div>
            <div class="social-block">

                <a class="social-link-f" href="#">
<i class="fab fa-facebook-f social"></i>
</a>
                <a class="social-link-f" href="#">
<i class="fab fa-twitter social"></i>
</a>
                <a class="social-link-f" href="#">
<i class="fab fa-google-plus-g social"></i>
</a>
                <a class="social-link-f" href="#">
<i class="fab fa-pinterest-p social"></i>
</a>
            </div>
            <div class="terms">
                <a class="footer-bottom-text" href="#">Terms &amp;&nbsp;Conditions</a>
                <p class="footer-bottom-text">/</p>
                <a class="footer-bottom-text" href="#">Privacy policy &amp;&nbsp;Cookies</a>
            </div>
        </footer>