{% load static i18n %}
<div class="header">
    <a class="logo" href="{% url 'mainapp:index' %}"></a>
    <ul class="menu">
        {% for object in main_menu %}
        <li>
            <a href="{% url object.get_url %}" {% if active == object.title %}class="active-menu" {% endif %}>{% trans object.title %}</a>
        </li>
        {% endfor %}
        <li><a href="{% url 'mainapp:products' %}"><img src="{% static 'img/search.svg' %}" alt="search"></a></li>
        <li>{% if user.is_authenticated %}
            <a href="{% url 'basket:basket_detail' %}"><img src="{% static 'img/basket.png' %}" alt="basket">

                    {% if basket %}
                        {{basket.0.get_total_count|floatformat:0}} шт. на {{ basket.0.get_total_price|floatformat:0 }} руб.
                    {% endif %}

            </a>
            {% endif %}
        </li>
    </ul>
</div>