{% load i18n %}
{% url 'mainapp:products' as u %}
<ul class="{{menu_cls}}">
    <li><a class="{% if request.path == u %} active-products-filter{% endif %}" href="{% url 'mainapp:products' %}">{% trans "ALL" %}</a></li>
    {% for object in objects %}
    {% url 'mainapp:products_in_catogory' object.id as u %}
    <li>
        <a href="{% if object.get_url %}{{object.get_url}}{% else %}{% url 'mainapp:products_in_catogory' object.id %}{% endif %}"
           class="{% if request.path == u %}active-products-filter{% endif %}">{{object.title}}</a></li>
    {% endfor %}
</ul>
{% if request.user.is_staff %}
<ul class="{{menu_cls}}">
    <li><a href="{% url 'mainapp:create_product' %}">{% trans "Add new Product" %}</a></li>
</ul>
{% endif %}

