{% if messages %}
<div class="row">
    <div class="col-sm-6">
        {% for message in messages %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
    </div>
</div>
{% endif %}