{% load static i18n %}

{% if products %}
{% for product in products %}
<div class='{{div_products_cls}} {{product.pictures.all.0.title}}'>

    <div class="exclusive-product-text">
        <h3>{% trans 'exclusive' %}</h3>
        <h2>{{product.title}}</h2>
        <p>{{product.description}}</p>
        {% include 'mainapp/includes/snippets/snip-btn-orderus.html' %}
    </div>
</div>
{% endfor %}
{% endif %}

