{% load i18n %}
{% if images %}
<div class="product-detail-slider-small">
    {% for image in images %}
        <div class="product-detail-img-small">
            <a href="#"><img src="{{image.image.url}}" alt="{{image.title}}" style="max-height:70px; max-width:70px;"></a>
            {% if request.user.is_staff %}
            <a href="{% url 'mainapp:delete_product_picture' image.id %}">
                {% trans 'Del image' %}
            </a>
            {% endif %}
        </div>
    {% endfor %}
</div>
{% endif %}
{% if request.user.is_staff %}
<div class="btn-add">
    <a href="{% url 'mainapp:create_product_picture' object.id %}" class="btn btn-primary">
        {% trans 'Add image' %}
    </a>
</div>
{% endif %}
