{% extends "mainapp/base.html" %}
{% load i18n %}
{% block header %}
<div class="header-product-content padding-site">
    {% include 'mainapp/includes/inc-header.html' with active='PRODUCTS'%}
    <!--<h2 class="header-content-h2">{% trans "Our Products Range" %}</h2>-->
</div>
{% endblock header %}

{% block content %}
<div class="product-detail-filter-block">
    {% include 'mainapp/includes/inc-categories-menu.html' with menu_cls='products-filter' objects=categories %}
</div>
<div class="product-detail-block padding-site">
    <div class="product-detail-imges">
        <div class="product-detail-img">
            <img src="{{product.pictures.all.0.image.url}}" alt="product.pictures.all.0.title"
                 class="product-detail-img-big">
        </div>
        <!--{% with images=product.pictures.all  %}-->
        {% include 'mainapp/includes/inc-prod-pic-slider.html' with images=product.pictures.all %}
        <!--{% endwith %}-->
    </div>

    <div class="product-detail-text">
        <h2>{{product.title}}</h2>
        <h3>{{product.category}}</h3>
        <p class="price"><span>{% trans 'Price: ' %}</span><span class="price-big">{{product.prices.all.0.price}}</span><span
                class="price-small"> {{product.prices.all.0.currency.title}}</span>
        </p>
        <div class="product-detail-description">
            {{product.description|linebreaks}}
        </div>
        {% if request.user.is_staff %}
            <div class="actions-object">
                <a href="{% url 'mainapp:edit_product' object.id %}">{% trans "Edit Product" %}</a>
            </div>
        {% else %}
            {% if product.prices.all.0.price %}
                <a class="order-button-red" href="{% url 'basket:addinvoiceposition' object.id %}">{% trans 'ORDER US &gt' %};</a>
            {% else %}
                {% trans "Извините, данного товара нет в наличии" %}
            {% endif %}
        {% endif %}
    </div>
</div>
<div class="related-products-block padding-site">
    <div class="trending-products-text">
        <h2>{% trans 'Related Products' %}</h2>
        <a class="explore-all" href="{% url 'mainapp:products' %}">{% trans 'explore all &gt;' %}</a>
    </div>
    {% include 'mainapp/includes/inc-product-listview.html' with products=object_list div_products_cls='trending-products-imgs' %}
    <!--<div class="trending-products-imgs">-->

    <!--</div>-->
</div>
{% endblock content %}