{% load static i18n %}
{% if products %}
<div class={{div_products_cls}}>
    {% for product in products %}
        <div class="product">
            <img src='{{product.pictures.all.0.image.url}}' alt="{% trans 'product.pictures.all.0.image.title' %}">
            <div class="product-text">
                {% include 'mainapp/includes/snippets/snip-go-to-product.html' %}
                <a href="#" class="text-on-active-product">
                    <h4>{{product.title}}</h4>
                    <p>{{product.description}}</p>
                </a>
            </div>
        </div>
    {% endfor %}
</div>
{% endif %}