{% load i18n %}
<div class="contacts-c">
                    <div class="contacts-c-text">
                        <a class="show-on-map" href="#" title="{% trans 'Show on map' %}">
<i class="fas fa-map-marker-alt map-marker"></i>
</a>
                        <h2>{% trans cont.title%}</h2>
                        <p class="contacts-c-text-p contacts-c-text-1">
                            {% trans "Phone:" %}
                        </p>
                        <p class="contacts-c-text-p contacts-c-text-2">
                            {% trans cont.phone %}
                        </p>
                        <p class="contacts-c-text-p contacts-c-text-1">
                            {% trans "Email:" %}
                        </p>
                        <p class="contacts-c-text-p contacts-c-text-2">
                            {% if cont.email %}
                            {% trans cont.email %}
                            {% endif %}
                        </p>
                        <p class="contacts-c-text-p contacts-c-text-1">
                            {% trans "Address:" %}
                        </p>
                        <p class="contacts-c-text-p contacts-c-text-3">
                            {% trans cont.address %}
                        </p>
                    </div>
                </div>