{% load static i18n %}
{% if products %}
<div class="{{div_products_cls}}">
	{% for product in products %}
	<div class="trending-product-img">
		<img src="{{product.pictures.all.0.image.url}}" style="width:370px; height:370px;" alt="{{product.title}}">
			<a href= "{% url 'mainapp:product_detail' product.id %}" class="product-text-big">
				<div class="circle-on-active-product-big">
					<img src="{% static 'img/arrow.svg' %}" alt="{% trans 'Go to product' %}">
				</div>
				<div class="text-on-active-product-big">
					<h4>{{product.title}}</h4>
					<p>{{product.description}}</p>
				</div>
			</a>

	</div>
	{% endfor %}
</div>
{% if is_paginated %}
<nav aria-label="...">
	<ul class="pagination">
		{% if page_obj.has_previous %}
		<li class="page-item">
			<a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
		</li>
		{% else %}
		<li class="page-item disabled">
			<a class="page-link" tabindex="-1">Previous</a>
		</li>
		{% endif%}
		{% for i in paginator.page_range %}
			{% if page_obj.number == i %}
			<li class="page-item active"><a class="page-link" href="?page={{ i }}">{{ i }}<span class="sr-only">(current)</span></a></li>
			{% else %}
			<li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
			{% endif %}
		{% endfor %}
		{% if page_obj.has_next %}
			<li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
			{% else %}
			<li class="page-item disabled">
				<a class="page-link" tabindex="-1">Next</a></li>
		{% endif %}
	</ul>
</nav>
{% endif %}
{% endif %}