
* {
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 1366px;
    margin: 0 auto;
    border: 1px solid rgba(33, 33, 33, 0.2);
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

.padding-site {
    padding-left: 98px;
    padding-right: 98px;
}

.slider {
    height: 800px;
    background-image: url("../img/slider-img.png");
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    margin-top: 63px;
    background-image: url("../img/logo.png");
    width: 185px;
	height: 22px;
	float: left;
}

.menu {
    display: flex;
    margin-top: 57px;
    flex-wrap: wrap;
}

.menu li {
    list-style-type: none;
}

.menu a {
    display: block;
    padding: 10px 13px;
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    text-align: right;
    text-decoration: none;
}

.menu .active-menu {
    color: #212121;
    font-weight: 700;
    border-bottom: 3px solid #212121;
}

.menu a:hover {
    color: #212121;
    border-bottom: 1px solid #212121;
}

.menu .active-menu:hover {
    color: #212121;
    border-bottom: 3px solid #212121;
}

.slider-text {
    margin-top: 283px;
}

.slider-text h3 {
    color: #43a047;
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    text-align: left;
    margin-bottom: 22px;
}

.slider-text h2 {
    color: #212121;
    font-size: 62px;
    font-weight: 100;
    line-height: 40px;
    text-align: left;
    margin-bottom: 34px;
    letter-spacing: -2px;
}

.slider-text p {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    width: 458px;
}

.order-button {
    display: block;
    background-color: #ffffff;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    width: 212px;
    height: 45px;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    border-radius: 22.5px;
    line-height: 45px;
    letter-spacing: 3.6px;
    margin-top: 22px;
}

.order-button:hover {
    background-color: #f9f9f9;
}

.order-button:active {
    position: relative;
    top: 2px;
    box-shadow: 0px 0px 4.85px 0.15px rgba(33, 33, 33, 0.35);
}

.circle-box {
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: center;
    bottom: 19px;
    width: 1170px;
}

.circle-box .circle {
    display: block;
    border-radius: 50%;
    background-color: rgba(33, 33, 33, 0.2);
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
}

.circle-box .active-circle {
    background-color: #212121;
    width: 40px;
    height: 40px;
}

.circle-box .circle:hover {
    background-color: #212121;
}

.featured-product {
    min-height: 609px;
}

.featured-text {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    align-items: center;
}


.featured-new {
    display: flex;

}

.featured-new li {
    list-style-type: none;
}

.featured-new a {
    display: block;
    padding: 20px 15px;
    color: #6c6c6c;
    font-size: 36px;
    font-weight: 700;
    text-align: left;
    text-decoration: none;
    border-bottom: 1px solid #6c6c6c;
}

.featured-new .active-featured-new {
    color: #212121;
    border-bottom: 3px solid #212121;
}

.featured-new a:hover {
    list-style-type: none;
    color: #212121;
}

.explore-all {
    display: block;
    text-decoration: none;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 15px;
    letter-spacing: 3.6px;
    border-bottom: 1px solid transparent;
}

.explore-all:hover {
    border-bottom: 1px solid black;
}

.four-pictures-picture-box {
    width: 270px;
}

.four-pictures-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.four-pictures-block .four-pictures-picture-box:hover {
    border-width: 1px;
    border-color: #9c9c9c;
    border-style: solid;
    display: block;
    background-color: #ffffff;
    opacity: 0.9;
}

.product-block {
    display: block;
    width: 270px;
    height: 270px;
}

.product {
    position: relative;
}

.product-text {
    position: absolute;
    top: 0;
    left: 0;
    border-width: 1px;
    border-color: #9c9c9c;
    border-style: solid;
    background-color: #ffffff;
    opacity: 0.9;
    width: 268px;
    height: 268px;
    display: none;
}

.product:hover .product-text {
    display: block;
}




.circle-on-active-product {
    display: block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    margin-top: 62px;
    margin-left: 111px;
    text-decoration: none;
    /*     text-align: center;*/
}

.circle-on-active-product img {
    /*
    color: #212121;
    font-size: 24px;
    font-weight: 800;
*/
    width: 12px;
    height: 20px;
    padding: 14px 0px 0px 18px;
}

.text-on-active-product {
    display: block;
    margin-top: 19px;
    text-align: center;
    text-decoration: none;
}

.text-on-active-product h4 {
    color: #212121;
    font-size: 21.91px;
    font-weight: 700;
    line-height: 19px;
    transform: scaleX(1.0041);
}

.text-on-active-product p {
    color: #6c6c6c;
    font-size: 13.94px;
    font-weight: 500;
    line-height: 18px;
    transform: scaleX(1.0041);
    text-align: center;
    width: 206px;
    height: 33px;
    margin-top: 23px;
    margin-left: 32px;
    letter-spacing: -1px;
}

.exclusive-products {
    display: flex;
    min-height: 683px;
}

.exclusive-product {
    display: block;
    width: 683px;
}

.exclusive-product-2 {
    background-image: url("../img/promo-img.jpg");
}


.exclusive-product-1 {
    background-image: url("../img/promo-img1.jpg");
}

.exclusive-product-text {
    margin-left: 51px;
    margin-top: 228px;
}

.exclusive-product-text h3 {
    color: #1e88e5;
    font-size: 18px;
    font-weight: 700;
    line-height: 14px;
    text-align: left;
    margin-bottom: 18px;
    text-transform: uppercase;
}

.exclusive-product-text h2 {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    text-align: left;
    line-height: 28px;
    margin-bottom: 24px;
    letter-spacing: -2px;
}

.exclusive-product-text p {
    color: #6c6c6c;
    font-weight: 300;
    line-height: 18px;
    text-align: left;
    transform: scaleY(1.0022);
    font-size: 14px;
    width: 374px;
    margin-bottom: 34px;
}


.trending-products {
    min-height: 1108px;
    margin-top: 119px;
}

.trending-products-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 34px;
}

.trending-products-text h2 {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    text-align: left;
    line-height: 28px;
}

.trending-products-text a {
    text-decoration: none;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2.5px;
}

.trending-products-imgs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 34px;
    margin-top: 20px;
}

.trending-product-img {
    width: 370px;
    height: 370px;
    margin-top: 30px;
    position: relative;
}

.hot-deal {
    min-height: 800px;
    background-image: url("../img/hot-deal-slider.jpg");
    position: relative;
}

.hot-deal .hot-deal-text {
    padding-top: 287px;
}

.hot-deal-text h3 {
    color: #e53935;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    line-height: 16px;
    margin-bottom: 22px;
    text-transform: uppercase;
}

.hot-deal-text h2 {
    color: #212121;
    font-size: 62px;
    font-weight: 100;
    text-align: left;
    line-height: 44px;
    margin-bottom: 34px;
    letter-spacing: -2px;
}

.hot-deal-text p {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    text-align: left;
    width: 458px;
}


.exclusive-box-2 {
    min-height: 810px;
    display: flex;
    justify-content: space-between;
}

.e-box {
    margin-top: 120px;
    width: 570px;
    height: 570px;
}

.e-box-1 {
    background-image: url("../img/product-1-lg.jpg");
}

.e-box-2 {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
}

.e-box-small {
    width: 270px;
    height: 270px;
}

.mobile-block {
    display: block;
    min-height: 516px;
    background-image: url("../img/back-img.jpg");
}

.mobile-block-text {
    padding-top: 125px;
}

.mobile-block-text h3 {
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    text-align: left;
    text-transform: uppercase;
}

.mobile-block-text h2 {
    color: #212121;
    font-size: 62px;
    font-weight: 100;
    line-height: 48px;
    text-align: left;
    width: 407px;
    margin-top: 22px;
}

.mobile-block-text p {
    margin-top: 26px;
    color: #6c6c6c;
    font-size: 22px;
    font-weight: 300;
    line-height: 20px;
    text-align: left;
}

.footer {
    min-height: 384px;
    display: flex;
    justify-content: space-between;
    background-color: #f7f7f7;
    flex-wrap: wrap;
}

.footer-text-block {
    margin-top: 120px;
}

.footer-h3 {
    text-transform: uppercase;
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    letter-spacing: 2px;
}

.footer-text-p {
    color: #212121;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    text-align: left;
}

.address {
    width: 221px;
    margin-top: 24px;
    letter-spacing: -0.5px;
}

.contacts {
    width: 180px;
    margin-top: 30px;
}

.useful-block-ul {
    display: flex;
    margin-top: 25px;
}

.useful-block-1 {
    margin-right: 103px;
}

.useful-block li {
    list-style-type: none;
}

.useful-block a {
    display: block;
    color: #212121;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
}

.useful-block a:hover {
    border-bottom: 1px solid #212121;
    box-shadow: 0px 2px 0px 0px rgba(33, 33, 33, 0.35);
}

.subscibe-block {
    width: 363px;
}

.subscribe {
    margin-top: 24px;
}

.subscibe-form {
    margin-top: 26px;
    position: relative;
}

.subscibe-form input {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    text-align: left;
    border-width: 1px;
    border-color: #d9dee1;
    border-style: solid;
    background-color: #ffffff;
    width: 318px;
    height: 46px;
    padding-left: 19px;
    padding-right: 50px;

}

.subscibe-form input:focus {
    outline: none;
}

/*
.subscibe-button {
    position: absolute;
    top:16px;
    left:335px;
    border: none;
    width: 21px;
    height: 17px;
    background-color: transparent;
}
*/

.telegram-button {
    position: absolute;
    top: 14px;
    left: 345px;
    border: none;
    width: 21px;
    height: 17px;
    background-color: transparent;

    color: #6c6c6c;
    font-size: 22px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
}

.telegram-button:hover {
    color: black;
}

.footer-bottom-text {
    color: #6c6c6c;
    font-size: 12px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
    text-transform: uppercase;
}

.social-link-f {
    display: block;
    text-decoration: none;
    width: 30px;
    height: 30px;

    background-color: #6c6c6c;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
}

.social-link-f:hover {
    background-color: black;
}

.social {
    color: white;
}

.social-block {
    display: flex;
    justify-content: space-between;
}

.terms a {
    text-decoration: none;
}

.terms a:hover {
    text-decoration: none;
    color: black;
}

.terms {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.terms p {
    margin-left: 10px;
    margin-right: 10px;
}

.product-text-big {
    position: absolute;
    top: 0;
    left: 0;
    border-width: 1px;
    border-color: #9c9c9c;
    border-style: solid;
    background-color: #ffffff;
    opacity: 0.9;
    width: 368px;
    height: 368px;
    display: none;
    text-decoration: none;
}

.trending-product-img:hover .product-text-big {
    display: block;
}

.circle-on-active-product-big {
    display: block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    margin: 0 auto;
    margin-top: 100px;

}

.circle-on-active-product-big img {
    width: 12px;
    height: 20px;
    padding: 14px 0px 0px 18px;
}

.text-on-active-product-big {
    display: block;
    margin-top: 19px;
    text-align: center;
    text-decoration: none;
}

.text-on-active-product-big h4 {
    color: #212121;
    font-size: 21.91px;
    font-weight: 700;
    line-height: 19px;
    transform: scaleX(1.0041);
}

.text-on-active-product-big p {
    color: #6c6c6c;
    font-size: 13.94px;
    font-weight: 500;
    line-height: 18px;
    transform: scaleX(1.0041);
    text-align: center;
    width: 206px;
    height: 33px;
    margin-top: 23px;
    margin-left: 80px;
    letter-spacing: -1px;
}

.product-big {
    position: relative;
}

.mobile-butons {
    display: flex;
    margin-top: 33px;
    /*    position: relative;*/
}

.mobile-button {
    display: block;
    background-color: black;
    width: 135px;
    height: 40px;
    border-radius: 5px;
    position: relative;
    text-decoration: none;
    color: white;
}

.mobile-button-apple {
    margin-right: 5px;
}

.mobile-button-google {
    margin-left: 5px;
}

.apple-btn {

    color: white;
    font-size: 30px;
    position: absolute;
    top: 5px;
    left: 10px;
}

.btn-text {
    margin-left: 42px;

}

.btn-text-1 {
    font-size: 10px;
    margin-top: 5px;
}

.btn-text-2 {
    letter-spacing: -0.5px;
}

.google-btn {
    color: white;
    font-size: 30px;
    position: absolute;
    top: 5px;
    left: 10px;
}

.header-content {
    min-height: 360px;
    background-color: #f5f5f5;
    position: relative;
}

.header-content-h2 {
    color: #212121;
    font-size: 62px;
    font-weight: 100;
    line-height: 72px;
    text-align: left;
    position: absolute;
    bottom: 44px;
    letter-spacing: 2px;
}

.products-page-products {
    /*min-height: 1965px;*/
}

.all-products-filter {
    display: flex;
    justify-content: space-between;
    margin-top: 61px;
    align-items: center;
}

.products-filter {
    display: flex;
}

.products-filter li {
    list-style-type: none;
}

.products-filter a {
    display: block;
    padding: 10px 15px;
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    text-decoration: none;
    border-bottom: 3px solid transparent;
}



.products-filter a:hover {
    color: #212121;
    border-bottom: 1px solid #6c6c6c;
}

.products-filter .active-products-filter {
    color: #212121;
    border-bottom: 3px solid #212121;
}

.products-filter .active-products-filter:hover {
    color: #212121;
    border-bottom: 3px solid #212121;
}

.sync-btn {
    color: #212121;
    font-size: 42px;
    font-weight: 400;
    text-align: center;
    transition: all 5ms;
}

.sync-btn:hover{
    transform: rotate(90deg);
}

.product-refresh {
    margin-top: 71px;
    display: flex;
    justify-content: center;
}

.contacts-c-block {
    min-height: 563px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contacts-c {
    display: block;
    border-width: 1px;
    border-color: #9c9c9c;
    border-style: solid;
    background-color: #ffffff;
    opacity: 0.9;
    width: 368px;
    height: 368px;
}

.show-on-map:hover .map-marker {
    color: cornflowerblue;
}

.map-marker {
    color: #212121;
    font-size: 48px;
    font-weight: 400;
    line-height: 30px;
}

.contacts-c-text {
    text-align: center;
    margin-top: 48px;
}

.contacts-c-text h2 {
    color: #212121;
    font-size: 22px;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 34px;
}

.contacts-c-text-p {
    font-size: 14px;
    line-height: 12px;
    text-align: center;

}

.contacts-c-text-1 {
    color: #6c6c6c;
    font-weight: 700;
    margin-top: 23px;
}

.contacts-c-text-2 {
    color: #212121;
    font-weight: 700;
    margin-top: 6px;
}

.contacts-c-text-3 {
    color: #6c6c6c;
    font-weight: 300;
    margin-top: 6px;
}

.header-product-content {
    min-height: 119px;
    /*    position: relative;*/
}

.product-detail-filter-block {
    display: flex;
    background-color: #f4f4f4;
    height: 70px;
    justify-content: center;
    align-items: center;
}

.products-filter-1 {}

.product-detail-block {
    margin-top: 72px;

    display: flex;
    justify-content: space-between;
    min-height: 670px;
}



.product-detail-slider-small {
    display: flex;
    justify-content: center;
    margin-top: 11px;
    margin-bottom: 20px;
}

.product-detail-img-big {
    width: 570px;
    height: 570px;
}

.product-detail-img-small {
    margin-left: 5px;
    margin-right: 5px;
    width: 70px;
    height: 70px;
    border: 1px solid transparent;
}

.product-detail-img-small:hover {
    border: 1px solid #6c6c6c;
}

.product-detail-slider-small  .btn-add {
	height: 70px;
	width: 70px;
	position: relative;
	float: left;
	margin-right: 10px;
	margin-top: 75px;
}

.product-detail-text {
    text-align: center;
    margin-top: 47px;
    width: 510px;
}

.product-detail-text h2 {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 23px;
}

.product-detail-text h3 {
    color: #e53935;
    font-size: 18px;
    font-weight: 700;
    line-height: 14px;
    text-transform: uppercase;
    margin-bottom: 36px;
}

.product-detail-text .price {
    color: #212121;
    font-weight: 300;
    line-height: 48px;
    margin-bottom: 26px;
}

.price-big {
    font-size: 72px;
}

.price-small {
    font-size: 36px;
}

.order-button-red {
    display: block;
    background-color: #f44336;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    width: 510px;
    height: 71px;
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    border-radius: 35.5px;
    line-height: 71px;
    letter-spacing: 3.6px;
    margin-bottom: 49px;
}

.order-button-red:hover {
    background-color: darkgray;
}

.order-button-red:active {
    position: relative;
    top: 2px;
    box-shadow: 0px 0px 4.85px 0.15px rgba(33, 33, 33, 0.35);
}


.product-detail-text div.product-detail-description {
    text-align: left;
    width: 499px;
    margin-bottom: 20px;
}


.related-products-block {
    margin-top: 75px;
    margin-bottom: 120px;
}

.login-block {
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-c {
    display: block;
    border-width: 1px;
    border-color: #9c9c9c;
    border-style: solid;
    background-color: #ffffff;
    opacity: 0.9;
    width: 368px;
    height: 368px;
}

.login-block-n {
    background: #fff;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    overflow: hidden;
    width: 28em;
    min-width: 300px;
    margin: 100px auto;
    position:relative;
    font-size: 14px;
    font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
}

.login-block-content {
    padding: 20px;

}

.login-form {
    margin-top: 10px;
    position: relative;
    float:left;
}

.login-form p {
    clear:both;
    text-align:right;
}

.login-form label{
    float:left;
}

.login-form input,
 .login-form textarea {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    align:left;

    border-width: 1px;
    border-color: #d9dee1;
    border-style: solid;
    background-color: #ffffff;
    width: 318px;
    height: 46px;
    padding-left: 19px;
    margin-bottom: 10px;
}
.login-form textarea {
    width: 550px;
    height: 150px;
}


.login-btn {
}

.basket {
	display: block;
	width: 23px;
	height: 23px;
	background-image: url(../img/basket.png);
	position: absolute;
	top: 63px;
	left: 1210px;
}

.row {
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-sm-6 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
  -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #0062cc;
  border-color: #005cbf;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.profile-detail-block {
    margin-top: 72px;

    display: flex;
    justify-content: space-around;
    min-height: 670px;
}

.avatar-img-big {
    max-width: 600px;
    max-height: 600px;
}

.avatar-img-small {
    margin-left: 10px;
    margin-right: 10px;
    width: 70px;
    height: 70px;
    border: 1px solid transparent;
}

.avatar-img-small img {
    width: 70px;
    height: 70px;
}

.avatar-img-small:hover {
    border: 1px solid #6c6c6c;
}

.pagination {
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
}

.pagination a {
  text-decoration: none;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.page-link:hover {
  z-index: 2;
  color: #0056b3;
  text-decoration: none;
  background-color: #e9ecef;
  border-color: #dee2e6;
}

.page-link:focus {
  z-index: 2;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.page-link:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.page-item:first-child .page-link {
  margin-left: 0;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.page-item:last-child .page-link {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border-color: #dee2e6;
}

.pagination-lg .page-link {
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

.pagination-lg .page-item:first-child .page-link {
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}

.pagination-lg .page-item:last-child .page-link {
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

.pagination-sm .page-link {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
}

.pagination-sm .page-item:first-child .page-link {
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}

.pagination-sm .page-item:last-child .page-link {
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  overflow: visible;
  clip: auto;
  white-space: normal;
}

.table {
  width: 1366px;
  margin-bottom: 1rem;
  background-color: transparent;
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.table tbody + tbody {
  border-top: 2px solid #dee2e6;
}

.table .table {
  background-color: #fff;
}

.table-bordered {
  border: 1px solid #dee2e6;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #dee2e6;
}

.table-bordered thead th,
.table-bordered thead td {
  border-bottom-width: 2px;
}