{% extends "mainapp/base.html" %}
{% load i18n %}
{% block header %}
<div class="header-content padding-site">
    {% include 'mainapp/includes/inc-header.html'%}
    <h2 class="header-content-h2">{% trans "You basket chart" %}</h2>
</div>
{% endblock header %}
{% block content %}
<div class="catalogue">
    <div class="row">
        {% if object.active and object.invoicepositions.count %}
        {% include './invoiceposition_form.html' with object_list=object.invoicepositions.all %}
        <p class="total_summ">{% trans 'Total price' %} <span>{{ object.get_total_price }}</span></p>
        <form method="post" action="{% url 'basket:buy' %}">
            {% csrf_token %}
            <input type="submit" value="{% trans 'Buy' %}" class="btn btn-primary">
        </form>
        {% else %}
        <p>{% trans 'Корзина пуста' %}</p>
        {% endif %}
    </div>
</div>
{% endblock content %}



