{% extends "mainapp/base.html" %}
{% load i18n static %}
{% block title %}{{object.verbose_name}}{% endblock title %}

{% block header %}
<div class="header-content padding-site">
    {% include 'mainapp/includes/inc-header.html'%}
    <h2 class="header-content-h2">{% trans "Delete Product from chart ?" %}</h2>
</div>
{% endblock header %}

{% block content %}
<h4>{{ object.prod.title }}</h4>
<img src="{{object.prod.pictures.all.0.image.url}}" alt="{{object.prod.pictures.all.0.image.title}}">
<div class="login-block-n padding-site">
    <div class="login-block-content">
        <form method="post" class="login-form form-group">
            {% csrf_token %}
            <a href="{% url 'basket:basket_detail' %}" class="btn btn-primary">{% trans 'No' %}</a>
            <button type="submit" name='delete' class="btn btn-primary">{% trans 'Yes' %}</button>
        </form>
    </div>
</div>
{% endblock content %}
