{% load i18n %}

<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Product</th>
            <th scope="col">Price</th>
            <th scope="col">Count</th>
            <th scope="col">TotalPrice</th>
            <th scope="col">Remove from chart</th>
        </tr>
    </thead>
    <tbody>
    {% for object in object_list %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ object.prod }}</td>
            <td>{{ object.price }}</td>
            <td>
                <form method="post" action="{% url 'basket:minusInvoicePositionCount' object.id %}">
                    {% csrf_token %}
                    <input type="submit" value="{% trans '-' %}" class="btn btn-primary">
                </form> {{ object.count }}
                <form method="post" action="{% url 'basket:addinvoiceposition' object.id %}">
                    {% csrf_token %}
                    <input type="submit" value="{% trans '+' %}" class="btn btn-primary">
                </form>
            </td>
            <td>{{ object.total_price }}</td>
            <td><a href="{% url 'basket:dellInvoicePosition' object.id %}">{% trans 'Remove' %}</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>



