{% extends "mainapp/base.html" %}{% load i18n %}
{% block title %}{{object_list.model.verbose_name_plural}}{% endblock title %}

{% block header %}
<div class="header-content padding-site">
    {% include 'mainapp/includes/inc-header.html' with active='Log in'%}
    <h2 class="header-content-h2">{% trans "Log In" %}</h2>

</div>
{% endblock header %}

{% block content %}
<div class="login-block-n">
    <div class="login-block-content">
        <form action="{% url 'accounts:login' %}" method="post" class="login-form form-group">
            {% csrf_token %}
            {{ form.as_p }}
        <button type="submit" class="btn btn-primary">{% trans 'Log in' %}</button>
            <a href="{% url 'accounts:createProfile' %}" class="btn btn-primary">{% trans 'Registation' %}</a>
        </form>
    </div>
</div>
{% endblock content %}