{% extends "mainapp/base.html" %}
{% load i18n %}
{% block title %}{{object_list.model.verbose_name_plural}}{% endblock title %}

{% block header %}
<div class="header-content padding-site">
    {% include 'mainapp/includes/inc-header.html' with active=user.first_name %}
    <h2 class="header-content-h2">{% trans "User registration form" %}</h2>
</div>
{% endblock header %}

{% block content %}
<div class="product-detail-block padding-site">
    <div class="login-block-content">
        <form method="post" class="login-form form-group">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="btn btn-primary">{% trans 'Registration' %}</button>
        </form>
    </div>
</div>
{% endblock content %}