{% extends "mainapp/base.html" %}
{% load i18n %}
{% block title %}{{object_list.model.verbose_name_plural}}{% endblock title %}

{% block header %}
<div class="header-content padding-site">
    {% include 'mainapp/includes/inc-header.html' with active=user.first_name %}
    <h2 class="header-content-h2">{% if request.path == '/auth/createprofile/' %}
        {% trans "User create profile" %}
        {% else %}
        {% trans "User change profile" %}
        {% endif %}
    </h2>

</div>
{% endblock header %}

{% block content %}
<div class="product-detail-block padding-site">
    <!--<div class="product-detail-imges">-->
        <!--<div class="product-detail-img">-->
            <!--<img src="{{object.pictures.all.0.image.url}}" alt="object.pictures.all.0.title"-->
                 <!--class="product-detail-img-big">-->
        <!--</div>-->
        <!--&lt;!&ndash;{% with images=product.pictures.all  %}&ndash;&gt;-->
        <!--{% include 'mainapp/includes/inc-prod-pic-slider.html' with images=object.pictures.all|slice:"1:" %}-->
        <!--&lt;!&ndash;{% endwith %}&ndash;&gt;-->
    <!--</div>-->

    <div class="login-block-content">
        <form method="post" class="login-form form-group">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="btn btn-primary">{% trans 'Save changes' %}</button>
            <!--<a href="{% url 'accounts:editProfile' %}">-->
                <!---->
            <!--</a>-->
        </form>
    </div>
</div>
{% endblock content %}