{% extends "mainapp/base.html" %}
{% load i18n %}
{% block title %}{{object_list.model.verbose_name_plural}}{% endblock title %}

{% block header %}
<div class="header-content padding-site">
    {% include 'mainapp/includes/inc-header.html' with active=user.first_name %}
    <h2 class="header-content-h2">{% trans "User profile" %}</h2>

</div>
{% endblock header %}

{% block content %}
<div class="profile-detail-block padding-site">
    <div class="product-detail-imges">
        <div class="product-detail-img">
            <img src="{{object.pictures.all.0.image.url}}" alt="object.pictures.all.0.title" class="avatar-img-big">
        </div>
        <!--{% with images=product.pictures.all  %}-->
        {% include 'accounts/includes/inc-user-avatars.html' with images=object.pictures.all %}
        <!--{% endwith %}-->
    </div>

    <div class="product-detail-text">
        <p>{% trans 'fullname: ' %}</p>
        <h2>{{object.first_name}} {{object.last_name}}</h2>
        <p>{% trans 'username: ' %}</p>
        <h2>{{object.username}}</h2>
        <p>{% trans 'email: ' %}</p><h3>{{object.email}}</h3>
        {% if object.description%}
        <p>{% trans 'About: ' %}</p>
        <div class="product-detail-description">
            {{object.description|linebreaks}}
        </div>
        {% endif %}
        <a href="{% url 'accounts:editProfile' %}" class="btn btn-primary">{% trans 'Change profile' %}</a>

        <!--<a href="{% url 'accounts:editProfile' %}" class="btn btn-primary">{% trans 'Change password' %}</a>-->
    </div>
</div>
{% endblock content %}