{% extends "mainapp/base.html" %}
{% load i18n %}
{% block title %}{{object_list.model.verbose_name_plural}}{% endblock title %}

{% block header %}
<div class="header-content padding-site">
    {% include 'mainapp/includes/inc-header.html' with active=user.first_name %}
    <h2 class="header-content-h2">{% trans "User registration form" %}</h2>
</div>
{% endblock header %}

{% block content %}
<div class="product-detail-block padding-site">
    <div class="login-block-content">
        {% if user %}
        <h3>Поздравляем!</h3>
        <br>
        <h4>Пользователь {{user.username}} подтвержден.</h4>
        {% else %}
        <h3>Верификация не пройдена.</h3>
        {% endif %}
        <br>
        <a href="{% url 'mainapp:index' %}" class="btn btn-primary">{% trans 'На главную' %}</a>
    </div>
</div>
{% endblock content %}
