<!DOCTYPE html>
{% load static i18n %}
<html>
    <head>
        <meta charset= "utf-8">
        <title>
        {% block title %}{% trans "Interior Store" %}{% endblock title %}
        </title>
        {% block css %}

        <link rel= "stylesheet" href= "{% static 'css/style.css' %}?v={{ VERSION }}" >
        <!--<link rel= "stylesheet" href= "{% static 'css/bootstrap.css' %}?v={{ VERSION }}" >-->
        <link rel= "stylesheet" href= "{% static 'fonts/font-awesome/css/all.css' %}?v={{ VERSION }}" >
        <link rel= "stylesheet" href= "{% static 'fonts/font-awesome/css/montserrat.css' %}?v={{ VERSION }}" >
        {% endblock css %}
    {% block js %}
    {% endblock js %}
    </head>
<body>
<div class="container">
    <div class ="content">
    {% block header %}
            <div class="slider padding-site">
				{% include 'mainapp/includes/inc-header.html' %}
			</div>
    {% endblock header%}
    {% block messages %}
        {% include 'mainapp/includes/inc-messages.html' %}
    {% endblock messages%}
    {% block content %}
    {% endblock content%}
</div >
    {% block footer %}
<footer class="footer padding-site">
            <div class="contact-us-block footer-text-block">
                <h3 class="footer-h3">{% trans "Contact Us" %}</h3>
                <p class="address footer-text-p">
                    {% trans "132A Bridge Road Richmond VIC&nbsp;Australia." %}
                </p>
                <p class="contacts footer-text-p">
                    {% trans "Talk to&nbsp;us on&nbsp;1300&nbsp;132 info@interior.com" %}
                </p>
            </div>
            <div class="useful-info-block footer-text-block">
                <h3 class="footer-h3">
                    {% trans "Useful Information" %}
                </h3>
                <div class="useful-block-ul">
                    <ul class="useful-block useful-block-1">
                        <li><a href="#">{% trans "Sales terms" %}</a></li>
                        <li><a href="#">{% trans "Customer care" %}</a></li>
                        <li><a href="#">{% trans "Delivery" %}</a></li>
                    </ul>
                    <ul class="useful-block">
                        <li><a href="#">{% trans "Architect accounts" %}</a></li>
                        <li><a href="#">{% trans "Careers" %}</a></li>
                        <li><a href="#">{% trans "Exchanges &amp;&nbsp;returns" %}</a></li>
                    </ul>
                </div>

            </div>
            <div class="subscibe-block footer-text-block">
                <h3 class="footer-h3">
                    {% trans "Let&rsquo;s Stay in&nbsp;Touch!" %}
                </h3>
                <p class="subscribe footer-text-p">
                    {% trans "Suscribe to&nbsp;know about our latest news, products and special offers just for suscribers." %}
                </p>
                <form class="subscibe-form" action="#">
                    <input type="email" placeholder="your email address">
                    <button class="subscibe-button"><i class="fab fa-telegram-plane telegram-button"></i></button>
                </form>
            </div>
            <div class="copyright footer-bottom-text">
                {% trans "&copy;&nbsp;Copyright&nbsp;&mdash; INTERIOR 2018. All Rights Reserved." %}
            </div>
            <div class="social-block">

                <a class="social-link-f" href="#">
<i class="fab fa-facebook-f social"></i>
</a>
                <a class="social-link-f" href="#">
<i class="fab fa-twitter social"></i>
</a>
                <a class="social-link-f" href="#">
<i class="fab fa-google-plus-g social"></i>
</a>
                <a class="social-link-f" href="#">
<i class="fab fa-pinterest-p social"></i>
</a>
            </div>
            <div class="terms">
                <a class="footer-bottom-text" href="#">{% trans "Terms &amp;&nbsp;Conditions" %}</a>
                <p class="footer-bottom-text">/</p>
                <a class="footer-bottom-text" href="#">{% trans "Privacy policy &amp;&nbsp;Cookies" %}</a>
            </div>
        </footer>
    {% endblock footer%}
</div>
</body >
</html >