{% extends "mainapp/base.html" %}
{% load i18n %}
{% block header %}
<div class="header-content padding-site">
    {% include 'mainapp/includes/inc-header.html' with active='CONTACTS'%}
    <h2 class="header-content-h2">{% trans "Contact Us" %}</h2>
</div>
{% endblock header %}

{% block content %}
<div class="contacts-c-block padding-site">
    {% if object_list %}
        {% for contact in object_list %}
            {% include 'mainapp/includes/inc-contacts.html' with cont=contact %}
        {% endfor%}
    {% endif %}
</div>
{% endblock content %}
