{% extends "mainapp/base.html" %}
{% load static i18n %}
{% block header %}
<div class="slider padding-site">
    {% include 'mainapp/includes/inc-header.html' with active='HOME'%}
    <div class="slider-text">
        <h3>{% trans 'TRENDING' %}</h3>
        <h2>{% trans 'FISHNET CHAIR' %}</h2>
        <p>{% trans 'Seat and back with upholstery made of&nbsp;clod cure foam. Steel frame, available in&nbsp;mett powder-coated black' %}</p>
        {% include 'mainapp/includes/snippets/snip-btn-orderus.html' %}
    </div>
    {% include "mainapp/includes/snippets/snip-circle-box.html" %}
</div>
{% endblock %}
{% block content %}
<div class="featured-product padding-site">
    <div class="featured-text">
        <ul class="featured-new">
            <li><a class="active-featured-new" href="#">{% trans 'Featured' %}</a></li>
            <li><a href="#">{% trans 'New' %}</a></li>
        </ul>
        <a class="explore-all" href="#">{% trans 'explore all &gt;' %}</a>
    </div>
    {% include "mainapp/includes/inc-product-small-info.html" with products=object_list|slice:':4' div_products_cls='four-pictures-block' %}
</div>
<div class="exclusive-products">
    {% include "mainapp/includes/inc-exclusive-products.html" with products=object_list|slice:'4:6' div_products_cls='exclusive-product' %}
</div>
{% include "mainapp/includes/snippets/snip-mobile-app.html" %}
{% endblock %}