{% extends "mainapp/base.html" %}
{% load i18n %}
{% block header %}
<div class="header-content padding-site">
    {% include 'mainapp/includes/inc-header.html' with active='PRODUCTS'%}
    <h2 class="header-content-h2">{% trans "Add new Pruduct Picture" %}</h2>
</div>
{% endblock header %}
{% block content %}

<div class="products-page-products padding-site">
<div class="product-detail-block padding-site">
    <div class="login-block-content">
        <form method="post" class="login-form form-group" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="btn btn-primary">{% trans 'Save changes' %}</button>
        </form>
    </div>
</div>
</div>
{% endblock content %}



