{% extends "mainapp/base.html" %}
{% load i18n %}
{% block header %}
<div class="header-content padding-site">
    {% include 'mainapp/includes/inc-header.html' with active='PRODUCTS'%}
    <form method="post">
        {% csrf_token %}
        <input type="text" name="search" size="50" placeholder="{% trans 'Type to search' %}">
        <input type="submit" value="{% trans 'Search' %}">
    </form>
    <h2 class="header-content-h2">{% trans "Our Products Range" %}</h2>
</div>
{% endblock header %}

{% block content %}
<div class="products-page-products padding-site">
    <div class="all-products-filter">
        {% include 'mainapp/includes/inc-categories-menu.html' with menu_cls='products-filter' objects=categories %}
        
    </div>
        {% if object %}
			{% include 'mainapp/includes/inc-product-detail-view.html' with product=object %}
		{% endif %}
    {% include 'mainapp/includes/inc-product-listview.html' with products=object_list div_products_cls='trending-products-imgs' %}
</div>
{% endblock content %}



