{% extends "mainapp/base.html" %}
{% load i18n %}
{% block header %}
<div class="header-content padding-site">
    {% include 'mainapp/includes/inc-header.html' with active='PRODUCTS'%}
    <h2 class="header-content-h2">{% trans "Our Products Range" %}</h2>
</div>
{% endblock header %}
{% block content %}

<div class="products-page-products padding-site">
    <div class="all-products-filter">
        {% include 'mainapp/includes/inc-categories-menu.html' with menu_cls='products-filter' objects=categories %}
    </div>
        {% if object %}
			{% include 'mainapp/includes/inc-product-detail-view.html' with product=object images=object.pictures.all price=object.prices.all.0 %}
		{% endif %}
    {% include 'mainapp/includes/inc-product-listview.html' with products=object_list div_products_cls='trending-products-imgs' %}
</div>
{% endblock content %}



