{% load i18n %}

<div class="product-detail-slider-small">
    {% if images %}
    {% for image in images %}
    <div class="avatar-img-small">
        <img src="{{image.image.url}}" alt="{{image.title}}">
        <a href="{% url 'accounts:deleteAvatar' image.id %}">{% trans 'Delete Avatar' %}</a>
    </div>
    {% endfor %}
    {% endif %}
    <div class="btn-add">
        <a href="{% url 'accounts:createAvatar' object.id %}" class="btn btn-primary">
            {% trans 'Add Avatar' %}
        </a>
    </div>
</div>


