{% load static i18n %}
<div class="mobile-block padding-site">
    <div class="mobile-block-text">
        <h3>{% trans 'mobile app' %}</h3>
        <h2>{% trans 'Find. Follow. Favorite.' %}</h2>
        <p>{% trans 'Save your favorites and share your style.' %}</p>
    </div>
    <div class="mobile-butons">
        <a class="mobile-button mobile-button-apple" href="#" title="{% trans 'Click to download app' %}">
            <i class="fab fa-apple apple-btn"></i>
            <p class="btn-text btn-text-1">{% trans 'Download on&nbsp;the' %}</p>
            <p class="btn-text btn-text-2">{% trans 'App Store' %}</p>
        </a>
        <a class="mobile-button mobile-button-google" href="#" title="{% trans 'Click to download app' %}">
            <i class="fab fa-google-play google-btn"></i>
            <p class="btn-text btn-text-1">{% trans 'GET IT&nbsp;ON' %}</p>
            <p class="btn-text btn-text-2">{% trans 'Google Play' %}</p>
        </a>

    </div>
</div>