{% extends "mainapp/base.html" %}
{% load i18n %}
{% block header %}
<div class="header-content padding-site">
    {% include 'mainapp/includes/inc-header.html' with active='flatpage.title'%}
    <h2 class="header-content-h2">{{flatpage.title}}</h2>
</div>
{% endblock header %}

{% block content %}
<div class="contacts-c-block padding-site">
{{ flatpage.content }}
</div>
{% endblock content %}